* {
    padding: 0;
    margin: 0;
}

.row {
  margin: 0rem;
}

img {
  width: 100%;
  height: auto;
}

.input-group {
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}

#dropdown {
  color: rgb(18, 167, 18);
  background-color: white;
}

#dropdown:hover {
  color: white;
  background-color: rgb(18, 167, 18);
}