@import './components/utils/variables';

* {
    padding: 0;
    margin: 0;
}

body {
background-image: linear-gradient(to right bottom, #eaeefa, #eaeefa);
}

.row {
  margin: 0rem;
}

img {
  width: 100%;
  height: auto;
}

.input-group {
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}

.next__button {
  width: 100%;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  text-align: right;
}

.page__button {
  width: 100%;
  margin-bottom: 2.5rem;
  margin-top: 1.4rem;
  text-align: center;
}
