// Main background
$background: #262728;

// Header
$header-background: #1d1e1f;
$header-text: #7c7c7c;
$header-icons: #666666;

// Scrollbar
$scrollbar-color: #3f3f3f;

// Selection
$selection-color: rgba(200,200,255,.1);