@import '../utils/variables';

.songitems_buttons {
    border: solid 2px $background;
    background: transparent;
    padding: 0.4rem 0.6rem;
    margin: 0 0.2rem;
    border-radius: 1px;
    font-size: 0.8rem;
    text-transform: none;
    font-weight: 500;
    margin-left: 0.7rem;
    text-decoration: none;
}
  
.songitems__box {
    background: white;
    padding-bottom: 1rem;
    border: solid 1px #d4dcf7;
    border-radius: 4px;
    width: 100%;
    text-align: left;
    overflow: hidden;  
}

img {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
  
.songitems__text {
    margin-left: 15px;
}
  
hr {
    width: 90%;
    border-color: $scrollbar-color;
    margin-right: 45px;
}
  
.songitems__title {
    text-transform: none;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: none;
    color: rgb(46, 119, 255);
    padding: 1.5rem 1rem 0rem 0;
    line-height: 1;
}
  
.songitems__subtitle {
    text-transform: none;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: none;
    color: black;
}
  
.songitems__subtitle span {
    text-transform: none;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: none;
}
  
